# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

pythia/pythia8226_export/
pythia/pythia_sh/

angular-src/src/main/web/dist
angular-src/src/main/web/node_modules
angular-src/src/main/web/node
