<mat-card class="example-card">
  <mat-card-content>
      <h2 class="example-h2">{{ 'CONTROLS.PROGRESS_BAR.TITLE' | translate }}</h2>
      <section class="example-section">
          <p>
            <span [matBadge]="websoketService.getRequestsInProgress()" matBadgeOverlap="false">{{ 'CONTROLS.PROGRESS_BAR.IN_PROGRESS_TITLE' | translate }}</span>
          </p>
          <p>
              <span [matBadge]="websoketService.getRequestsLimit()" matBadgeOverlap="false" matBadgeColor="warn">{{ 'CONTROLS.PROGRESS_BAR.REQUEST_LIMIT_TITLE' | translate }}</span>
          </p>
          <p>
              <span [matBadge]="websoketService.getQueueLength()" matBadgeOverlap="false" matBadgeColor="warn">{{ 'CONTROLS.PROGRESS_BAR.QUEUE_TITLE' | translate }}</span>
          </p>
          <p>
            <span [matBadge]="websoketService.getRequestsCompleted()" matBadgeOverlap="false" matBadgeColor="accent">{{ 'CONTROLS.PROGRESS_BAR.COMPLETED_TITLE' | translate }}</span>
          </p>

          <mat-progress-bar
              class="example-margin"
              [color]="color"
              [mode]="mode"
              [value]="(websoketService.getRequestsInProgress() / websoketService.getRequestsLimit()) * 100">
          </mat-progress-bar>
        </section>
    </mat-card-content>
</mat-card>
