<mat-card class="example-card">
  <mat-card-content>
      <h2 class="example-h2">Progress bar configuration</h2>
      <section class="example-section">
          <p>
            <span [matBadge]="websoketService.getRequestsInProgress()" matBadgeOverlap="false">In progress</span>
          </p>
          <p>
              <span [matBadge]="websoketService.getRequestsLimit()" matBadgeOverlap="false" matBadgeColor="warn">In progress request limit</span>
          </p>
          <p>
              <span [matBadge]="websoketService.getQueueLength()" matBadgeOverlap="false" matBadgeColor="warn">Queue</span>
          </p>
          <p>
            <span [matBadge]="websoketService.getRequestsCompleted()" matBadgeOverlap="false" matBadgeColor="accent">Completed</span>
          </p>

          <mat-progress-bar
              class="example-margin"
              [color]="color"
              [mode]="mode"
              [value]="(websoketService.getRequestsInProgress() / websoketService.getRequestsLimit()) * 100">
          </mat-progress-bar>
        </section>
    </mat-card-content>
</mat-card>
