<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'CONTROLS.LINE.TITLE' | translate }}</mat-card-title>
    <mat-card-subtitle>{{ 'CONTROLS.LINE.SUBTITLE' | translate }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form #form [formGroup]="requestData" novalidate>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="{{ 'CONTROLS.LINE.KSI_TITLE' | translate }}" formControlName="ksi">
            <mat-error *ngIf="requestData.controls['ksi'].hasError('required')">
              {{ 'CONTROLS.LINE.KSI_TITLE' | translate }} <strong>{{ 'CONTROLS.IS_REQUIRED' | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="requestData.controls['ksi'].hasError('isNotDouble')">
              {{ 'CONTROLS.LINE.KSI_TITLE' | translate }} <strong>{{ 'CONTROLS.SHOULD_BE_DOUBLE' | translate }}</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" (click)="requestLine()" [disabled]="!requestData.valid">Submit</button>
          </mat-card-actions>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="{{ 'CONTROLS.LINE.EVENTS_COUNT_TITLE' | translate }}" formControlName="events">
            <mat-error *ngIf="requestData.controls['events'].hasError('required')">
              {{ 'CONTROLS.LINE.EVENTS' | translate }} <strong>{{ 'CONTROLS.IS_REQUIRED' | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="requestData.controls['events'].hasError('isNotDouble')">
              {{ 'CONTROLS.LINE.EVENTS' | translate }} <strong>{{ 'CONTROLS.SHOULD_BE_DOUBLE' | translate }}</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="{{ 'CONTROLS.LINE.CYCLES_TITLE' | translate }}" formControlName="cycles">
            <mat-error *ngIf="requestData.controls['cycles'].hasError('required')">
              {{ 'CONTROLS.LINE.CYCLES' | translate }} <strong>{{ 'CONTROLS.IS_REQUIRED' | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="requestData.controls['cycles'].hasError('isNotDouble')">
              {{ 'CONTROLS.LINE.CYCLES' | translate }} <strong>{{ 'CONTROLS.SHOULD_BE_DOUBLE' | translate }}</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          
        </div>
      </div>
    </form>
    <!-- lines section -->
    <div class="row row-line" *ngFor="let ksi of getLinesInfo()" (click)="removeLine(ksi.key)">
      <div class="col mat-stroked-button col-line">
          <p>{{ 'CONTROLS.LINE.LINE_KSI' | translate }} {{ ksi.label }} </p>
      </div>
      <div class="col">
        <button type="button" (click)="removeLine(ksi.key)">
          <mat-icon>highlight_off</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>