@import '../ws-control/ws-control.component.css';

.col-line {
    padding: 0px;
    line-height: 10px;
}

.row-line {
    margin-bottom: 10px;
}

.remove-button {
    margin-top: 7px;
    background: transparent;
    border: 0ch;
}