<form [formGroup]="requestData" novalidate>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'CONTROLS.POINT.TITLE' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'CONTROLS.POINT.SUBTITLE' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="{{ 'CONTROLS.POINT.KSI_TITLE' | translate }}" formControlName="ksi">
            <mat-error *ngIf="requestData.controls['ksi'].hasError('required')">
              Ksi is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="requestData.controls['ksi'].hasError('isNotDouble')">
              Ksi should be <strong>a double</strong>
            </mat-error>
          </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="{{ 'CONTROLS.POINT.MASS_TITLE' | translate }}" formControlName="mass">
              <mat-error *ngIf="requestData.controls['mass'].hasError('required')">
                Mass is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="requestData.controls['mass'].hasError('isNotDouble')">
                Mass should be <strong>a number</strong>
              </mat-error>
            </mat-form-field>
          </div>
        <div class="col">
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="!requestData.valid">{{ 'CONTROLS.SUBMIT_TITLE' | translate }}</button>
          </mat-card-actions>
        </div>
      </div>
      <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{ 'CONTROLS.LINE.EVENTS_COUNT_TITLE' | translate }}" formControlName="events">
              <mat-error *ngIf="requestData.controls['events'].hasError('required')">
                {{ 'CONTROLS.LINE.EVENTS' | translate }} <strong>{{ 'CONTROLS.IS_REQUIRED' | translate }}</strong>
              </mat-error>
              <mat-error *ngIf="requestData.controls['events'].hasError('isNotDouble')">
                {{ 'CONTROLS.LINE.EVENTS' | translate }} <strong>{{ 'CONTROLS.SHOULD_BE_DOUBLE' | translate }}</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="{{ 'CONTROLS.LINE.CYCLES_TITLE' | translate }}" formControlName="cycles">
              <mat-error *ngIf="requestData.controls['cycles'].hasError('required')">
                {{ 'CONTROLS.LINE.CYCLES' | translate }} <strong>{{ 'CONTROLS.IS_REQUIRED' | translate }}</strong>
              </mat-error>
              <mat-error *ngIf="requestData.controls['cycles'].hasError('isNotDouble')">
                {{ 'CONTROLS.LINE.CYCLES' | translate }} <strong>{{ 'CONTROLS.SHOULD_BE_DOUBLE' | translate }}</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
          </div>
        </div>
    </mat-card-content>
  </mat-card>
</form>